@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #adc1eb;    
    font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.container{    
    background-color: #c0cde7;
    width: 80%;
    margin: auto;
    display: block;    
}

/* Header */

header{
    text-align: center;    
    color: #ff9900;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
}


/*Formulário de consulta*/
.search-box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;   
    align-items: center; 
}

input[type="text"]{
    width: 500px;    
    height: 25px;
    font-size: 20px;
    --border-radius: 8px;
    border: 1px solid #c0cde7;
}

.button{
    width: 100px;
    height: 30px;
    font-size: 20px;
    --font-family: 'Roboto';
    background-image: linear-gradient(#ffffff, #cccccc);
    --border-radius: 8px;
    border: 1px solid #c0cde7;
}

input[type="button"]:hover{
    border: 2px solid lightblue;    
}

.button-onClick{
    background-image: linear-gradient(#cccccc, #ffffff); 
}

/*Conteudo resltado da busca*/
#totalizador{
    width: 100%;
    text-align: center;
}

.search-result{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-content: space-around ;
    flex-wrap: wrap;
}

.book{
    box-shadow: 1px 1px 7px black;    
    width: 45%;    
    margin: 20px;
    background-color: white;
}

.book-title{
    margin: 10px 5px;
    font-size: 15px;
    color: orange;
    text-shadow: 1px 1px 1px black;
}

.info{
    --padding: 5px;
    --background-color: red;
    margin: 10px 10px 10px 5px;
    width: 65%;
    float: right;
}

.info > div{
    margin: 3px 3px 3px 5px;    
}

.img{
    /* position: relative;
    top: 0;
    left: 0;*/
    width: 25%; 
    float: left;    
    margin: 5px 0px 10px 10px;
}

/*Rodapé */
footer{
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

footer span{
    color: #ff9900;
    text-shadow: 1px 1px 1px black;
}

